---
import type { GetStaticPaths } from "astro";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import EntryCard from "@components/EntryCard.astro";
import { getAllPosts } from "@lib/utils";
import { getAllTagSlug, getTagDisplayName } from "@lib/tags";

export const getStaticPaths: GetStaticPaths = async () => {
	const allTags = getAllTagSlug();
	return allTags.map((tag) => ({ params: { slug: tag } }));
};

const { slug } = Astro.params;
const tag = slug as string;
const posts = (await getAllPosts()).filter((post) =>
	post.data.tags.includes(tag)
);

const tagName = getTagDisplayName(tag);
const meta = {
	description: `Posts tagged with ${tag}`,
	title: `tag: ${tagName}`,
};
---

<Layout title={meta.title} description={meta.description}>
	<Container>
		<div class="space-y-10" data-pagefind-ignore="all">
			<div class="space-y-4">
				<h1 class="text-3xl font-bold text-black">
					{tagName}
				</h1>
				<section class="space-y-4">
					<div>
						{
							posts.length === 0 ? (
								<p>このタグが付いた記事はありません。</p>
							) : (
								<ul class="not-prose flex flex-col gap-4">
									{posts.map((post) => (
										<li>
											<EntryCard entry={post} />
										</li>
									))}
								</ul>
							)
						}
					</div>
				</section>
			</div>
		</div>
	</Container>
</Layout>
