---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { getAllPosts } from "@lib/utils";
import tagData from "@data/tags.json";

const posts = await getAllPosts(true);

const tagCounts = posts
	.flatMap((post) => post.data.tags)
	.reduce(
		(acc, tag) => {
			acc[tag] = (acc[tag] || 0) + 1;
			return acc;
		},
		{} as Record<string, number>
	);

const tags = tagData.tags
	.map((tag) => ({
		name: tag.name,
		slug: tag.slug,
		count: tagCounts[tag.slug] || 0,
	}))
	.filter((tag) => tag.count > 0);

const meta = {
	description: "A list of all tags",
	title: "tag index",
};
---

<Layout title={meta.title} description={meta.description}>
	<Container>
		<div class="space-y-10" data-pagefind-ignore="all">
			<div class="space-y-4">
				<section class="space-y-4">
					<ul
						class="grid list-none grid-cols-2 gap-2 md:grid-cols-3 lg:grid-cols-4"
					>
						{
							tags.map((tag) => (
								<li>
									<a
										href={`/tags/${tag.slug}`}
										class="rounded-lg border border-black/15 px-2 py-0.5 text-xs hover:bg-gray-200"
									>
										{tag.name} ({tag.count})
									</a>
								</li>
							))
						}
					</ul>
				</section>
			</div>
		</div>
	</Container>
</Layout>
