---
import type { CollectionEntry } from "astro:content";

type Props = {
  entry: CollectionEntry<"posts">;
};

const { entry } = Astro.props as Props;

// https://docs.astro.build/en/guides/content-collections/#working-with-dates-in-the-frontmatter
const datetime = entry.data.date.toISOString().slice(0, 10);
---

<div class="flex flex-1 flex-col">
  <time datetime={datetime} class="pe-2 text-xs">
    {datetime}
  </time>
  <div class="font-semibold">
    <a href={`/${entry.collection}/${entry.slug}`}>
      {entry.data.title}
    </a>
  </div>
</div>
