---
import type { CollectionEntry } from "astro:content";

type Props = {
	entry: CollectionEntry<"posts">;
};

const { entry } = Astro.props as Props;

// https://docs.astro.build/en/guides/content-collections/#working-with-dates-in-the-frontmatter
const datetime = entry.data.date.toISOString().slice(0, 10);

const href = entry.data.isExternal
	? entry.data.url
	: `/${entry.collection}/${entry.slug}`;

/**
 * duckduckgoのfavicon apiから外部サイトのfaviconを取ってきてbase64 data uriにする
 */
async function getFavicon(url: string): Promise<string> {
	try {
		const hostname = new URL(url).hostname;
		const faviconUrl = `https://icons.duckduckgo.com/ip3/${hostname}.ico`;
		const res = await fetch(faviconUrl);
		const arrayBuffer = await res.arrayBuffer();
		const base64 = Buffer.from(arrayBuffer).toString("base64");
		return `data:image/png;base64,${base64}`;
	} catch (e) {
		console.error("Error fetching favicon:", e);
		return "";
	}
}

const favicon = entry.data.isExternal && href ? await getFavicon(href) : "";
---

<div class="">
	<div class="flex items-center gap-2 text-xs text-gray-600">
		<time datetime={datetime}>
			{datetime}
		</time>
	</div>
	<div
		class="inline-flex items-center gap-1 text-base font-semibold whitespace-nowrap"
	>
		<a
			href={href}
			target={entry.data.isExternal ? "_blank" : "_self"}
			rel={entry.data.isExternal ? "noopener noreferrer" : undefined}
			class="hover:underline"
		>
			{entry.data.title}
		</a>
		{
			entry.data.isExternal && favicon && (
				<img
					src={favicon}
					alt="favicon"
					title={entry.data.platform}
					class="h-4 w-4"
				/>
			)
		}
	</div>
</div>
