---
import type { CollectionEntry } from "astro:content";

type Props = {
  entry: CollectionEntry<"posts">;
};

const { entry } = Astro.props;

// https://docs.astro.build/en/guides/content-collections/#working-with-dates-in-the-frontmatter
const isoDateTime = entry.data.created.toISOString();
const created = isoDateTime.slice(0, 10);
const href = `/${entry.collection}/${entry.id}`;
---

<div class="block text-base sm:flex sm:flex-wrap sm:items-baseline sm:gap-1">
  <span class="whitespace-nowrap">
    <time datetime={isoDateTime}>{created}</time>:
  </span>
  <a href={href} class="inline underline decoration-dotted hover:text-blue-600">
    {entry.data.title}
  </a>
</div>
