---
import type { CollectionEntry } from "astro:content";
import { getFavicon } from "@lib/utils";
import type { CollectionKey } from "astro:content";

type Props = {
	entry: CollectionEntry<CollectionKey>;
};

const { entry } = Astro.props;

// https://docs.astro.build/en/guides/content-collections/#working-with-dates-in-the-frontmatter
const isoDateTime = entry.data.date.toISOString();
const date = isoDateTime.slice(0, 10);

const href =
	entry.collection === "posts"
		? `/${entry.collection}/${entry.slug}`
		: entry.data.link;

const favicon = entry.collection !== "posts" ? await getFavicon(href) : "";
---

<div class="flex items-center gap-2 text-xs text-gray-600">
	<time datetime={isoDateTime}>
		{date}
	</time>
</div>
<div class="items-center">
	<a href={href} class="text-base font-semibold hover:underline">
		{entry.data.title}
	</a>
	{
		entry.collection !== "posts" && favicon && (
			<img
				src={favicon}
				alt="favicon"
				title={entry.collection}
				class="relative -top-[2px] ml-0.5 inline h-4 w-4"
			/>
		)
	}
</div>
