---
import type { CollectionEntry } from "astro:content";
import { getFavicon } from "@lib/utils";
import type { CollectionKey } from "astro:content";

type Props = {
	entry: CollectionEntry<CollectionKey>;
};

const { entry } = Astro.props;

// https://docs.astro.build/en/guides/content-collections/#working-with-dates-in-the-frontmatter
const isoDateTime = entry.data.date.toISOString();
const date = isoDateTime.slice(0, 10);

const href =
	entry.collection === "posts"
		? `/${entry.collection}/${entry.slug}`
		: entry.data.link;

const favicon = entry.collection !== "posts" ? await getFavicon(href) : "";
---

<div class="block text-lg sm:flex sm:flex-wrap sm:items-baseline sm:gap-1">
	<span class="whitespace-nowrap">
		<time datetime={isoDateTime}>{date}</time>:
	</span>
	<a href={href} class="inline underline hover:text-blue-600">
		{entry.data.title}
		{
			entry.collection !== "posts" && favicon && (
				<img
					src={favicon}
					alt="favicon"
					title={entry.collection}
					class="ml-0.5 inline h-4 w-4"
				/>
			)
		}
	</a>
</div>
